In [ ]:
a=10
b=20
c=a*b
print(c)

In [ ]:
help('keywords')

In [ ]:
4**45

In [ ]:
2**3

In [ ]:
80//2

In [ ]:
80/2

In [ ]:
80//2.0

In [ ]:
'8'in 'late night 8'

In [ ]:
bin(14)

In [ ]:
print(13 & 9)
print(13|9)

In [ ]:
13<<3

In [ ]:
13*8

In [ ]:
a=10
b=20
c=10
a is b

In [ ]:
a is c

In [ ]:
#data types
#Numeric: int float complex
#Sequence: str, list, tuple

In [ ]:
k= 3+4j
type(k)

In [ ]:
#MUTABLE & IMMUTABLE
#        =
#VARIABLE & CONSTANT

#str: immutable collection of characters
#list: mutable & unstructured collection of hetrogenous elements
#tuple: immutable and unstructured collection of heterogenous elements

#MAPPING
  #Dictionay: mutable and structured collection of key value pairs
#SET
  #{}  set: Unordered collection of unique elements

In [ ]:
t=[3,6,'mayank','rohilla',3.5]
type(t)

In [ ]:
t=(3,6,'mayank','rohilla',3.5)
type(t)

In [ ]:
#Data Operations(Colections)
# 1. Item Accessing( Indexing/Slicing/Subscripting)

In [ ]:
s = 'Mayank Rohilla Group'
s

In [ ]:
len(s)

In [ ]:
s[0]

In [ ]:
s[len(s)-1]

In [ ]:
s[-1]

In [ ]:
s[-19]

In [ ]:
#Slicing s[start : stop(not included) : stepsize]
#s[0 : end  : +1]
#s[end : 0  : -ve]

In [ ]:
s[:6]

In [ ]:
s[6::-1]

In [ ]:
s[:10:2]

In [ ]:
t[:2]

In [ ]:
t[2][1]

In [ ]:
t

In [ ]:
t[:3]

In [ ]:
p=[45,[[[[['1', '01'],91,34]]]]]

In [ ]:
len(p)

In [ ]:
p[-1]

In [ ]:
p[-1][0][0][0][0][-1][-1]

In [ ]:
d=[{'a':34},66{'66':[{'00':[98,'hi']}, 'awesome', {'m':'n'}]}]

In [ ]:
s='468hi3.4'
a=[4,6,8,'hi',3.4]
b=(4,6,8,'hi',3.4)
c={4:6,8:['hi',3.4]}
d={4,6,8,'hi',3.4}

In [ ]:
type(s),type(a),type(b),type(c),type(d)

In [ ]:
len(s),len(a),len(b),len(c),len(d)

In [ ]:
(4,5)+(3,6)

In [ ]:
'hi '*3

In [ ]:
s+='k'
s

In [ ]:
s=s[:3]+'Mayank'+s[3:]
s

In [ ]:
a

In [ ]:
a+=['Bye']
a

In [ ]:
a=a[:3]+[39]+a[3:]

In [ ]:
a

In [ ]:
(3+4)*9

In [ ]:
(3+4,)*9

In [ ]:
m=['bye',]
type(m)

In [ ]:
b+b

In [ ]:
(*a,*b,*s)

In [ ]:
#dictionary
c[99]=[86,'Group']
c

In [ ]:
{**c,**c}

In [ ]:
c2={'a':45,'b':35}
print(c)
print(c2)

In [ ]:
{**c,**c2}

In [ ]:
(c,c2)

In [ ]:
# s[0]='A'#not possible
# a[0]='A'#done
# b[0]='A'#not possible
# c[4]='A'#done
#deletion
# del s[0]='A'#not possible
# del a[0]='A'#done
# del b[0]='A'#not possible
# del c[4]='A'#done

In [ ]:
bool(143)

In [ ]:
False

In [ ]:
'     hi         '.strip()

In [ ]:
d='Mayank'

In [ ]:
d.strip('ynk')

In [ ]:
#join() split()

In [ ]:
x=20
y=30
#1 z='we have data from %d to %d'%(x,y)
#2 z='we have data from {} to {}'.format(x,y)
z='we have data from {} to {}'
z=z.format(x,y)
#using f-string
zf=f'we have data from {x} to {y} but {x} is enough'
print(zf)
print(z)

In [ ]:
e=[4,6,8,'hi',3.4]

In [ ]:
e.append('mayank')
e

In [ ]:
d.upper()

In [ ]:
help(e.sort)

In [ ]:
type(e)

In [ ]:
e1=['hi','wow','Mayank','Rohilla','Group','awesome']
e1.sort()
e1

In [ ]:
e1.sort(key=len, reverse=True)
e1

In [ ]:
e3=e
e3

In [ ]:
e3.append(60)
e3

In [ ]:
e

In [ ]:
#Suites in python
#statement:
  #Content
#statement1:
  #Content
#statement2:
  #Content...

#Conditional Statement
  #if-elif-else
#Looping
 #while-else
 #for-else
 #continue/break
#error handling
 #try-except-else-finally

In [ ]:
# for(int i=1; i<11; i++){

# }

# foreach(int i in somearray){

# }

# for obj in collection:

In [ ]:
list(range(1,1001,1))

In [6]:
a=[4,'hi','nice',35]
b=[]
for i in range(len(a)):
    b.append(a[i]*2)
b

[8, 'hihi', 'nicenice', 70]

In [7]:
a=[4,'hi','nice',35]
b=[]
for val in a:
    b.append(val*2)
b

[8, 'hihi', 'nicenice', 70]

In [8]:
a*2

[4, 'hi', 'nice', 35, 4, 'hi', 'nice', 35]

In [9]:
b=[val*2 for val in a]
b

[8, 'hihi', 'nicenice', 70]

In [12]:
k=[4,7,3,67,34,2,4,45,22,11,9,8]

In [ ]:
#List comprehension
# [output for-loop]
# [output for-loop if-condition]-filter

In [11]:
p=[val for val in k if val%2 ==0]
p

[4, 34, 2, 4, 22, 8]

In [14]:
p=[val for val in k if val%2 ==0 and val>10]
p

[34, 22]

In [21]:
p=[val*2 if val%2==1 else val//2 for val in k]
p

[2, 14, 6, 134, 17, 1, 2, 90, 11, 22, 18, 4]

In [18]:
p=[]
for val in k:
    if val%2 ==0:
        p.append(val//2)
    else:
        p.append(val*2)
p

[2, 14, 6, 134, 17, 1, 2, 90, 11, 22, 18, 4]

In [22]:
p=[]
for val in k:
    if val%2==1:
        p.append(val*2)
    elif val<20:
        p.append(val//2)
    else:
        p.append(val)
p

[2, 14, 6, 134, 34, 1, 2, 90, 22, 22, 18, 4]

In [23]:
#aliter

In [24]:
k

[4, 7, 3, 67, 34, 2, 4, 45, 22, 11, 9, 8]

In [25]:
m={val:val**2 for val in k if val%2==0}
m

{4: 16, 34: 1156, 2: 4, 22: 484, 8: 64}

In [26]:
for i in m:      # in dictionary it prints only keys
    print(i)

4
34
2
22
8

In [32]:
for k,v in m.items():
    print(k,v)

4 16
34 1156
2 4
22 484
8 64

In [33]:
def myfunction():
    '''
    just a temporary function. 
    '''
    print('function called')

In [34]:
myfunction()

function called

In [35]:
myfunction

In [36]:
help(myfunction)

Help on function myfunction in module __main__:

myfunction()
    just a temporary function.

In [51]:
def func(x=10, *v, **u):
    return[i*x for i in v],u

In [52]:
func(3,6,8,7,8,3,7,9)

([18, 24, 21, 24, 9, 21, 27], {})

In [53]:
func(3,6,8, somedata=[3,4,5,6])

([18, 24], {'somedata': [3, 4, 5, 6]})